<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>personalProject</title>
    <link rel="stylesheet" href="/css/just.css">

    <script src="https://kit.fontawesome.com/99d8e2f688.js" crossorigin="anonymous"></script>
    <script type="text/javascript"></script>

  </head>
<body>
<header>
  <h1><a href="movietest">WARNING</a></h1>
  <nav class="lnb">
    <ul>
      <li><a href="movietest">홈</a></li>
      <li><a href="#">TV프로그램</a> </li>
      <li><a href="#">영화</a></li>
      <li><a href="#">뉴스</a></li>
    </ul>
  </nav>
  </div>
  <nav class="spot">
    <ul>
      <li><a href="login">로그인</a> </li>
      <li><a href="signupregister">회원가입</a> </li>
    </ul>
  </nav>
</header>

  <div class="swiper-container">
    <ul class="swiper-slide">
      <li><img src="/img/img.png"width="760" height="480"></li>
      <li><img src="/img/img.png"width="760" height="480"></li>
      <li><img src="/img/img.png"width="760" height="480"></li>
      <li><img src="/img/img.png"width="760" height="480"></li>
      <li><img src="/img/img.png"width="760" height="480"></li>
    </ul>
  </div>

</body>
</html>