<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Life of Moment</title>
</head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // document는 현재 웹 상에 떠 있는 페이지 자체를 의미한다고 보면 됨
    $(document).ready(function() {
        // form 태그에 id="board"에 해당하는 객체를 얻어옴
        var formObj = $("#login");

        // id="btnRegister"를 클릭했을때
        $("#btnLogin").on("click", function() {
            // URL register로 보낸다.
            formObj.attr("action", "login");
            // PostMapping
            formObj.attr("method", "post");
            formObj.submit();
        });
        $("#btnRegister").on("click", function() {
            // URL register로 보낸다.
            formObj.attr("action", "register");
            // PostMapping
            formObj.attr("method", "get");
            formObj.submit();
        });
        $("#btnModify").on("click", function() {
            // URL register로 보낸다.
            formObj.attr("action", "modify");
            // PostMapping
            formObj.attr("method", "get");
            formObj.submit();
        });
    });
    </script>

<body>
    <h2>로그인</h2>

    <form id="login" th:action="@{login}" th:object="${login}" method="post">
    <table>
        <tr>
            <td>아이디</td>
            <td><input type="text" name="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="pw" th:field="*{pw}"></td>
        </tr>
    </table>
</form>

    <div>
        <button type="submit" id="btnLogin">로그인</button>
        <button type="submit" id="btnRegister">회원가입</button>
        <button type="submit" id="btnModify">수정하기</button>
    </div>
</body>
</html>